@charset "utf-8";

/*全体*/
.wrapper{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* 時間表示 */
#time{
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 8em;
    font-style: normal;
    margin: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

