@charset "utf-8";

/*全体*/
.wrapper{
    width: 100%;
    min-height: 100vh;
  
    position: relative;
}

/* 時間表示 */
#time{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
